.heading1 {
    color: red;
}

.heading2 {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player {
    width: 300px;
    height: 200px;
}